<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Logger Config</title>
    <style>
    body {
      font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 400;
    }
    table {
      border-spacing: 2px;
    }
    .alert-info {
      color: #3a87ad;
    }
    </style>
  </head>

  <body>
    <h1>Logger Config</h1>

    {{#configChange}}
      <h4 class="alert-info">{{configChange}}</h4>
    {{/configChange}}

    <form action="" method="post">
      <select name="logger">
      {{#loggers}}
        <option>{{name}}</option>
      {{/loggers}}
      </select>
      <select name="level">
        {{#levels}}
          <option>{{.}}</option>
        {{/levels}}
      </select>
      <button type="submit">Save</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Logger</th>
          <th>Level</th>
        </tr>
      </thead>
      <tbody>
      {{#loggers}}
        <tr>
          <td>{{name}}</td>
          <td>{{level}}</td>
        </tr>
      {{/loggers}}
      </tbody>
    </table>
  </body>
</html>
